In [104]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [105]:
df = pd.read_csv('athlete_events.csv', dtype=unicode)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25,185,82,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25,185,82,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27,185,82,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27,185,82,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31,188,75,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31,188,75,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31,188,75,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31,188,75,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33,188,75,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33,188,75,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33,188,75,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33,188,75,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31,183,72,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31,183,72,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31,183,72,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31,183,72,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33,183,72,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33,183,72,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33,183,72,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33,183,72,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18,168,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18,168,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
28,9,Antti Sami Aalto,M,26,186,96,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271086,135555,Micha Zych,M,23,177,68,Poland,POL,2006 Winter,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271089,135557,Dominik ycki,M,34,192,95,Poland,POL,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN
271090,135557,Dominik ycki,M,38,192,95,Poland,POL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,135558,ukasz Tomasz ygado,M,32,200,89,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
271092,135559,Pawe Jan Zygmunt,M,21,182,79,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271093,135559,Pawe Jan Zygmunt,M,21,182,79,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271094,135559,Pawe Jan Zygmunt,M,25,182,79,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271095,135559,Pawe Jan Zygmunt,M,25,182,79,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271096,135559,Pawe Jan Zygmunt,M,29,182,79,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271097,135559,Pawe Jan Zygmunt,M,29,182,79,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
271098,135559,Pawe Jan Zygmunt,M,33,182,79,Poland,POL,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271099,135560,Stavroula Zygouri,F,36,171,63,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271100,135561,Frantiek Zyka,M,26,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN
271101,135562,Milan Zyka,M,24,173,68,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19,171,64,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23,171,64,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271104,135564,Yevgeny Aleksandrovich Zykov,M,22,172,65,Russia-1,RUS,2002 Winter,2002,Winter,Salt Lake City,Luge,Luge Mixed (Men)'s Doubles,NaN
271105,135565,Fernando scar Zylberberg,M,23,168,76,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27,168,76,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21,175,75,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24,183,72,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28,183,72,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33,171,69,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [106]:
df['Year'] = pd.to_datetime(df.Year)
df = df.sort_values(by='Year').set_index('Year')

In [107]:
teams = df['Team']  # Select one column from our DataFrame; this is a Series
early = df.loc['1896-01-01 00:00:00':'1926-1-1 00:00:00']
mid_early= df.loc['1927-01-01 00:00:00':'1957-1-1 00:00:00']
early_modern = df.loc['1958-01-01 00:00:00':'1988-1-1 00:00:00']
modern = df.loc['1989-01-01 00:00:00':'2016-1-1 00:00:00']

In [116]:
count1 = early['Team'].value_counts()
df1 = pd.DataFrame(columns=['Medals(1896-1926)'])
df1['Medals(1896-1926)']= early['Team'].value_counts()
df1.reset_index(level=0, inplace=True)
df1.columns=['Team','Medals(1896-1926)']
df1

                Team  Medals(1896-1926)
0      United States               2589
1             France               2471
2      Great Britain               2081
3             Sweden               1676
4            Belgium                974
5              Italy                913
6            Denmark                816
7        Netherlands                802
8             Greece                777
9            Germany                769
10           Finland                731
11            Norway                727
12           Hungary                594
13       Switzerland                526
14    Czechoslovakia                447
15            Canada                395
16           Austria                338
17            Russia                262
18             Spain                253
19      South Africa                229
20        Luxembourg                202
21           Bohemia                146
22        Yugoslavia                138
23            Poland                116
24         Australia                115
25         Argentina                103
26          Portugal                 95
27       Australasia                 77
28           Estonia                 67
29             Japan                 63
..               ...                ...
448        Crabe I-2                  1
449      Mascaret-28                  1
450            Nan-2                  1
451        Crabe I-3                  1
452        Fantlet-2                  1
453  Pettit-Poucet-6                  1
454         Laurea-1                  1
455       Colette-10                  1
456   Plume-patte-32                  1
457           Baby-9                  1
458           Dick-8                  1
459    Carabinier-15                  1
460     Pirouette-31                  1
461         Ducky-16                  1
462         Alcyon-6                  1
463       Tornade-16                  1
464         Rozenn-3                  1
465         Femur-18                  1
466       Crabe I-11                  1
467         Freia-19                  1
468      Suzon IV-39                  1
469     Carabinier-5                  1
470      Jeanette-25                  1
471      Turquoise-1                  1
472            Nepal                  1
473       Souvenance                  1
474          Femur-1                  1
475       Brynhild-2                  1
476        Cinara-13                  1
477     Crocodile-13                  1

[478 rows x 2 columns]

In [119]:
count2 = mid_early['Team'].value_counts()
df2 = pd.DataFrame(columns=['Medals(1927-1957)'])
df2['Medals(1927-1957)']= mid_early['Team'].value_counts()
df2.reset_index(level=0, inplace=True)
df2.columns=['Team','Medals(1927-1957)']
df2

               Team  Medals(1927-1957)
0     United States               3272
1     Great Britain               2201
2            France               2102
3           Germany               2018
4             Italy               1864
5           Hungary               1529
6            Sweden               1521
7       Switzerland               1390
8           Finland               1364
9           Austria               1352
10   Czechoslovakia               1275
11           Canada               1201
12      Netherlands               1107
13            Japan               1079
14           Poland               1036
15          Belgium               1034
16     Soviet Union                925
17          Denmark                869
18           Norway                777
19        Australia                765
20       Yugoslavia                757
21        Argentina                721
22          Romania                583
23       Luxembourg                496
24            Egypt                477
25           Mexico                462
26           Brazil                436
27         Bulgaria                412
28     South Africa                346
29            India                342
..              ...                ...
337      Eissero VI                  2
338          Pegaso                  2
339         Wannsee                  2
340          Tineke                  2
341      Buscape II                  2
342     Kannibaltje                  2
343        Cuxhaven                  1
344      Heidelberg                  1
345          Bremen                  1
346         Breslau                  1
347       Knigsberg                  1
348     Brandenburg                  1
349         Potsdam                  1
350         Leipzig                  1
351            Kiel                  1
352       Angerburg                  1
353           Mainz                  1
354        Konstanz                  1
355         Rostock                  1
356         Dresden                  1
357      Costa Rica                  1
358        Augsburg                  1
359         Hamburg                  1
360           Essen                  1
361             Kln                  1
362           Syria                  1
363        Hannover                  1
364         Nrnberg                  1
365          Danzig                  1
366           Lbeck                  1

[367 rows x 2 columns]

In [120]:
count3 = early_modern['Team'].value_counts()
df3 = pd.DataFrame(columns=['Medals(1958-1988)'])
df3['Medals(1958-1988)']= early_modern['Team'].value_counts()
df3.reset_index(level=0, inplace=True)
df3.columns=['Team','Medals(1958-1988)']
df3

                   Team  Medals(1958-1988)
0         United States               4966
1          Soviet Union               4610
2         Great Britain               3529
3                Canada               3297
4          West Germany               3199
5                 Japan               3116
6                 Italy               3087
7                France               3044
8                Poland               2584
9          East Germany               2543
10            Australia               2443
11               Sweden               2441
12              Hungary               2388
13       Czechoslovakia               2223
14              Romania               1901
15          Switzerland               1893
16             Bulgaria               1847
17              Finland               1732
18                Spain               1666
19           Yugoslavia               1607
20              Austria               1525
21          Netherlands               1520
22               Mexico               1483
23          South Korea               1424
24               Norway               1367
25              Germany               1106
26            Argentina               1035
27                 Cuba               1005
28               Brazil               1004
29              Belgium                879
..                  ...                ...
389          Merope III                  2
390          Siames-Cat                  2
391               Syndi                  2
392         Argentina-2                  2
393         Argentina-1                  2
394  Pousse-Moi Pas VII                  2
395             Twinkle                  2
396            Norway-2                  2
397                Mari                  2
398            Terrible                  2
399            GyoshuII                  2
400              MitaII                  2
401             Rampage                  2
402             Widgeon                  2
403             Vesania                  2
404               Almaz                  2
405             Combine                  2
406                Skum                  2
407                Peri                  2
408      Bellatrix XIII                  2
409            Hakahana                  2
410             Olimpia                  2
411              Hayama                  2
412          Bulgaria-1                  2
413          Bulgaria-2                  2
414              Riccar                  2
415            Humbug V                  2
416            Sjovinge                  2
417             Mad Dog                  2
418           Nigeria-2                  2

[419 rows x 2 columns]

In [121]:
count4 = modern['Team'].value_counts()
df4 = pd.DataFrame(columns=['Medals(1989-2016)'])
df4['Medals(1989-2016)']= modern['Team'].value_counts()
df4.reset_index(level=0, inplace=True)
df4.columns=['Team','Medals(1989-2016)']
df4

                   Team  Medals(1989-2016)
0         United States               7020
1               Germany               5433
2                Russia               4660
3                 Italy               4396
4                Canada               4386
5                France               4371
6             Australia               4190
7                 Japan               4031
8                 China               4005
9         Great Britain               3593
10                Spain               3014
11          South Korea               2797
12              Ukraine               2511
13               Sweden               2414
14               Poland               2407
15          Netherlands               2289
16               Brazil               2273
17              Hungary               2036
18          Switzerland               2035
19               Norway               1837
20       Czech Republic               1802
21              Belarus               1783
22              Romania               1773
23              Austria               1651
24              Finland               1552
25           Kazakhstan               1429
26               Greece               1424
27          New Zealand               1411
28            Argentina               1340
29                 Cuba               1250
..                  ...                ...
334            Floresco                  1
335              Nadine                  1
336           Dow Jones                  1
337            Brentina                  1
338             Pop Art                  1
339           Relampago                  1
340          Lucky Star                  1
341               Rambo                  1
342           Calimucho                  1
343            Elvis Va                  1
344               Digby                  1
345         Solos Carex                  1
346    Greenoaks Dundee                  1
347        Whitini Star                  1
348  Galopin De La Font                  1
349             Whisper                  1
350            Mythilus                  1
351             Notavel                  1
352       Quando Quando                  1
353          Clearwater                  1
354             Satchmo                  1
355  Diabolo St Maurice                  1
356             Sunrise                  1
357               Orion                  1
358         Don Schufro                  1
359               Ravel                  1
360              Oxalis                  1
361      Mistral Hojris                  1
362          Gran Gesto                  1
363              Lancet                  1

[364 rows x 2 columns]

In [172]:
olympic_periods = df1.merge(df2,
                                   left_on='Team',
                                   right_on='Team',
                                  )
olympic_periods = olympic_periods.merge(df3,
                                   left_on='Team',
                                   right_on='Team',
                                   )
olympic_periods = olympic_periods.merge(df4,
                                   left_on='Team',
                                   right_on='Team',
                                   )
olympic_periods['Medals(1896-1926)']=(olympic_periods['Medals(1896-1926)']/(olympic_periods['Medals(1896-1926)'].sum()))
olympic_periods['Medals(1927-1957)']=(olympic_periods['Medals(1927-1957)']/(olympic_periods['Medals(1927-1957)'].sum()))
olympic_periods['Medals(1958-1988)']=(olympic_periods['Medals(1958-1988)']/(olympic_periods['Medals(1958-1988)'].sum()))
olympic_periods['Medals(1989-2016)']=(olympic_periods['Medals(1989-2016)']/(olympic_periods['Medals(1989-2016)'].sum()))

In [229]:
mask = olympic_periods['Medals(1927-1957)']/olympic_periods['Medals(1896-1926)'] >1.49
early=olympic_periods[['Team','Medals(1896-1926)','Medals(1927-1957)']]
mask1 = early['Medals(1927-1957)']>=.01
early_risers=early[mask]
early_risers = early_risers[mask1]
early_risers['Percent Increase'] = (early_risers['Medals(1927-1957)']/early_risers['Medals(1896-1926)']) *100
early_risers.sort_values(by=['Percent Increase'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

              Team  Medals(1896-1926)  Medals(1927-1957)  Percent Increase
25           Japan           0.003199           0.029974        936.993237
38          Mexico           0.001422           0.012834        902.691816
37        Bulgaria           0.001574           0.011445        727.094874
30         Romania           0.002336           0.016195        693.371975
21          Poland           0.005890           0.028779        488.604348
28           Egypt           0.002894           0.013251        457.824558
27          Brazil           0.002996           0.012112        404.287244
23       Argentina           0.005230           0.020029        382.960164
22       Australia           0.005839           0.021251        363.931088
20      Yugoslavia           0.007007           0.021029        300.104394
16         Austria           0.017163           0.037558        218.834380
15          Canada           0.020057           0.033363        166.341829
14  Czechoslovakia           0.022697           0.035419        156.048006

In [231]:
mask2 = olympic_periods['Medals(1927-1957)']/olympic_periods['Medals(1896-1926)'] <.51
early1=olympic_periods[['Team','Medals(1896-1926)','Medals(1927-1957)']]
mask3 = early1['Medals(1896-1926)'] >=.01
early_fallers=early1[mask2]
early_fallers = early_fallers[mask3]
early_fallers['Percent Decrease'] = (early_fallers['Medals(1896-1926)']/early_fallers['Medals(1927-1957)']) *100
early_fallers.sort_values(by=['Percent Decrease'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

     Team  Medals(1896-1926)  Medals(1927-1957)  Percent Decrease
8  Greece           0.039454           0.008389        470.282172
1  France           0.125470           0.058392        214.874299
3  Sweden           0.085102           0.042252        201.413807

In [233]:
mask4 = olympic_periods['Medals(1958-1988)']/olympic_periods['Medals(1927-1957)'] >1.49
mid=olympic_periods[['Team','Medals(1927-1957)','Medals(1958-1988)']]
mask5 = mid['Medals(1958-1988)']>=.01
mid_risers=mid[mask4]
mid_risers = mid_risers[mask5]
mid_risers['Percent Increase'] = (mid_risers['Medals(1958-1988)']/mid_risers['Medals(1927-1957)']) *100
mid_risers.sort_values(by=['Percent Increase'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

           Team  Medals(1927-1957)  Medals(1958-1988)  Percent Increase
17        Spain           0.008084           0.027111        335.370114
45  New Zealand           0.003806           0.012498        328.384767
41         Cuba           0.005306           0.016354        308.230099
37     Bulgaria           0.011445           0.030056        262.610466
30      Romania           0.016195           0.030935        191.009916
38       Mexico           0.012834           0.024133        188.036226
22    Australia           0.021251           0.039755        187.070102
25        Japan           0.029974           0.050706        169.168055
15       Canada           0.033363           0.053652        160.811940

In [232]:
mask6 = olympic_periods['Medals(1958-1988)']/olympic_periods['Medals(1927-1957)'] <.51
mid1=olympic_periods[['Team','Medals(1927-1957)','Medals(1958-1988)']]
mask7 = mid1['Medals(1927-1957)']>=.01
mid_fallers=mid1[mask6]
mid_fallers = mid_fallers[mask7]
mid_fallers['Percent Decrease'] = (mid_fallers['Medals(1927-1957)']/mid_fallers['Medals(1958-1988)']) *100
mid_fallers.sort_values(by=['Percent Decrease'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

          Team  Medals(1927-1957)  Medals(1958-1988)  Percent Decrease
19  Luxembourg           0.013779           0.003222        427.635879
9      Germany           0.056059           0.017998        311.475351
28       Egypt           0.013251           0.006184        214.285326
4      Belgium           0.028724           0.014304        200.811839

In [234]:
mask8 = olympic_periods['Medals(1989-2016)']/olympic_periods['Medals(1958-1988)'] >1.49
modern=olympic_periods[['Team','Medals(1958-1988)','Medals(1989-2016)']]
mask9 = modern['Medals(1989-2016)']>=.01
modern_risers=modern[mask8]
modern_risers = modern_risers[mask9]
modern_risers['Percent Increase'] = (modern_risers['Medals(1989-2016)']/modern_risers['Medals(1958-1988)']) *100
modern_risers.sort_values(by=['Percent Increase'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

            Team  Medals(1958-1988)  Medals(1989-2016)  Percent Increase
18  South Africa           0.001204           0.013454       1117.245867
9        Germany           0.017998           0.070216        390.134471
8         Greece           0.007697           0.018404        239.099460
27        Brazil           0.016338           0.029376        179.802394

In [235]:
mask10 = olympic_periods['Medals(1989-2016)']/olympic_periods['Medals(1958-1988)'] <.51
modern1=olympic_periods[['Team','Medals(1958-1988)','Medals(1989-2016)']]
mask11 = modern1['Medals(1958-1988)']>=.01
modern_fallers=modern1[mask10]
modern_fallers = modern_fallers[mask11]
modern_fallers['Percent Decrease'] = (modern_fallers['Medals(1958-1988)']/modern_fallers['Medals(1989-2016)']) *100
modern_fallers.sort_values(by=['Percent Decrease'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

              Team  Medals(1958-1988)  Medals(1989-2016)  Percent Decrease
20      Yugoslavia           0.026150           0.000724       3613.250760
14  Czechoslovakia           0.036175           0.005260        687.725783
38          Mexico           0.024133           0.011425        211.231722

In [238]:
mask12 = olympic_periods['Medals(1989-2016)']/olympic_periods['Medals(1896-1926)'] >1.49
allTime=olympic_periods[['Team','Medals(1896-1926)','Medals(1989-2016)']]
mask13 = allTime['Medals(1989-2016)']>=.01
allTime_risers=allTime[mask12]
allTime_risers = allTime_risers[mask13]
allTime_risers['Percent Increase'] = (allTime_risers['Medals(1989-2016)']/allTime_risers['Medals(1896-1926)']) *100
allTime_risers.sort_values(by=['Percent Increase'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

           Team  Medals(1896-1926)  Medals(1989-2016)  Percent Increase
45  New Zealand           0.000609           0.018236       2992.770583
41         Cuba           0.000914           0.016155       1767.523378
25        Japan           0.003199           0.052096       1628.545540
37     Bulgaria           0.001574           0.015871       1008.240948
30      Romania           0.002336           0.022914        981.021584
27       Brazil           0.002996           0.029376        980.562054
22    Australia           0.005839           0.054151        927.350352
38       Mexico           0.001422           0.011425        803.566628
21       Poland           0.005890           0.031108        528.135985
23    Argentina           0.005230           0.017318        331.127486
17        Spain           0.012847           0.038953        303.214793
15       Canada           0.020057           0.056684        282.617591
9       Germany           0.039047           0.070216        179.821255

In [237]:
mask14 = olympic_periods['Medals(1989-2016)']/olympic_periods['Medals(1896-1926)'] <.51
allTime1=olympic_periods[['Team','Medals(1896-1926)','Medals(1989-2016)']]
mask15 = allTime1['Medals(1896-1926)']>=.01
allTime_fallers=allTime1[mask14]
allTime_fallers = allTime_fallers[mask15]
allTime_fallers['Percent Decrease'] = (allTime_fallers['Medals(1896-1926)']/allTime_fallers['Medals(1989-2016)']) *100
allTime_fallers.sort_values(by=['Percent Decrease'],ascending=False)

C:\Users\ckraw\Anaconda2\envs\ipykernel_py2\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

              Team  Medals(1896-1926)  Medals(1989-2016)  Percent Decrease
19      Luxembourg           0.010257           0.001241        826.708642
4          Belgium           0.049457           0.010339        478.345080
14  Czechoslovakia           0.022697           0.005260        431.504625
6          Denmark           0.041434           0.012497        331.540071
3           Sweden           0.085102           0.031198        272.777842
2    Great Britain           0.105667           0.046436        227.555431
1           France           0.125470           0.056490        222.108040
8           Greece           0.039454           0.018404        214.379558